In [0]:
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.impute import SimpleImputer
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
from subprocess import check_output

In [2]:
data = pd.read_csv('https://aaa-pgdmlai.s3.amazonaws.com/household_level.csv')
data.columns

Index(['household_key', 'zip5', 'fsv_cmsi_flag', 'fsv_credit_card_flag',
       'fsv_deposit_program_flag', 'fsv_home_equity_flag', 'fsv_id_theft_flag',
       'fsv_mortgage_flag', 'ins_client_flag', 'trv_globalware_flag',
       'length_of_residence', 'income', 'children', 'ers_ent_count_year_1',
       'ers_ent_count_year_2', 'ers_ent_count_year_3',
       'ers_member_cost_year_1', 'ers_member_cost_year_2',
       'ers_member_cost_year_3', 'mosaic_household', 'mosaic_global_household',
       'kcl_b_ind_mosaicsgrouping', 'new_mover_flag', 'breakdown_city',
       'basic_cost', 'clearing_code_last_description', 'motorcycle_indicator',
       'plus_cost', 'premier_cost', 'prob1_code_description',
       'sc_vehicle_manufacturer_name', 'sc_vehicle_model_name', 'total_cost'],
      dtype='object')

In [3]:
data.shape

(11351, 33)

In [4]:
data.describe()

       household_key          zip5  ...  premier_cost    total_cost
count   1.135100e+04  11351.000000  ...  11351.000000  11351.000000
mean    1.514281e+07   2948.529821  ...      0.008457     58.072806
std     1.985961e+07    493.109440  ...      0.767006    138.109209
min     8.750000e+02   2801.000000  ...      0.000000      0.000000
25%     4.312093e+06   2857.000000  ...      0.000000      0.000000
50%     9.772276e+06   2888.000000  ...      0.000000     32.500000
75%     1.621354e+07   2910.000000  ...      0.000000     60.000000
max     1.000791e+08   6902.000000  ...     81.000000  11420.850000

[8 rows x 13 columns]

In [0]:
new_data = data.copy()
cols_with_missing = (col for col in new_data.columns 
                                 if new_data[col].isnull().any())
for col in cols_with_missing:
    new_data[col + '_was_missing'] = new_data[col].isnull()
data_encoded = pd.get_dummies(new_data)
my_imputer = SimpleImputer()
new_data = pd.DataFrame(my_imputer.fit_transform(data_encoded))
new_data.columns = data_encoded.columns

In [6]:
new_data.iloc[:,5:].head(5)

   ers_ent_count_year_3  ...  sc_vehicle_model_name_ZEPHYR
0                   0.0  ...                           0.0
1                   1.0  ...                           0.0
2                   1.0  ...                           0.0
3                   2.0  ...                           0.0
4                   1.0  ...                           0.0

[5 rows x 1306 columns]

In [0]:
labels = np.array(new_data['total_cost'])

In [0]:
new_data= new_data.drop('total_cost', axis = 1)

In [0]:
feature_list = list(new_data.columns)

In [0]:
features = np.array(new_data)

In [0]:
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25, random_state = 42)

In [13]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (8513, 1310)
Training Labels Shape: (8513,)
Testing Features Shape: (2838, 1310)
Testing Labels Shape: (2838,)

In [0]:
baseline_preds = test_features[:, feature_list.index('ers_member_cost_year_1')]

In [0]:
baseline_errors = abs(baseline_preds - test_labels)

In [17]:
print('Average baseline error: ', round(np.mean(baseline_errors), 2))

Average baseline error:  51.07

In [0]:
rf = RandomForestRegressor(n_estimators = 10, random_state = 42)

In [0]:
rf.fit(train_features, train_labels);

In [0]:
predictions = rf.predict(test_features)

In [0]:
errors = abs(predictions - test_labels)

In [52]:
print('Mean Absolute Error:', round(np.mean(errors), 2))

Mean Absolute Error: 1.98

In [53]:
mape = 100 * (errors/test_labels)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in true_divide
  """Entry point for launching an IPython kernel.

In [54]:
print(np.nan_to_num(mape))

[0.         1.06038292 0.         ... 0.11419753 0.         0.        ]

In [55]:
accuracy = 100 - np.mean(np.nan_to_num(mape))
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 98.95 %.