<a href="https://colab.research.google.com/github/srujansurapaneni/AAA_market_segmentation/blob/master/random_forest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [3]:
data = pd.read_csv('https://aaa-pgdmlai.s3.amazonaws.com/member_sample.csv')
data.columns

Index([u'Row_num', u'Individual_Key', u'Household_Key', u'City',
       u'State_Grouped', u'ZIP5', u'ZIP9', u'FSV_CMSI_Flag',
       u'FSV_Credit_Card_Flag', u'FSV_Deposit_Program_Flag',
       ...
       u'SC_Vehicle_Manufacturer_Name', u'SC_Vehicle_Model_Name',
       u'SVC_Facility_Name', u'SVC_Facility_Type', u'Total_Cost',
       u'Tow_Destination_Latitude', u'Tow_Destination_Longitude',
       u'Tow_Destination_Name', u'Was_Duplicated',
       u'Was_Towed_To_AAR_Referral'],
      dtype='object', length=111)

In [4]:
data.shape

(21344, 111)

In [5]:
data.describe()

            Row_num  Individual_Key  ...  Was_Duplicated  Was_Towed_To_AAR_Referral
count  21344.000000    2.134400e+04  ...    13997.000000               13997.000000
mean   29615.144818    3.358534e+07  ...        0.065157                   0.013646
std    26670.677948    5.113419e+07  ...        0.246811                   0.116020
min        0.000000    1.729300e+04  ...        0.000000                   0.000000
25%     6671.750000    8.784029e+06  ...        0.000000                   0.000000
50%    19504.500000    1.853740e+07  ...        0.000000                   0.000000
75%    51587.250000    2.821761e+07  ...        0.000000                   0.000000
max    99998.000000    2.123219e+08  ...        1.000000                   1.000000

[8 rows x 35 columns]

In [0]:
data_encoded = pd.get_dummies(data)

In [7]:
data_encoded.iloc[:,5:].head(5)

   Length_Of_Residence  ...  Tow_Destination_Name_~~~~WARWICK~RI~~
0                  NaN  ...                                      0
1                 15.0  ...                                      0
2                 15.0  ...                                      0
3                 15.0  ...                                      0
4                 15.0  ...                                      0

[5 rows x 52639 columns]

In [0]:
labels = np.array(data_encoded['Total_Cost'])

In [0]:
data_encoded= data_encoded.drop('Total_Cost', axis = 1)

In [0]:
feature_list = list(data_encoded.columns)

In [0]:
features = np.array(data_encoded)

In [0]:
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25, random_state = 42)